[2014-06-12 02:26] linyows opened #1 "Fukuoka.go#1 LTともくもく会"
2014/07/04(金) 19:30 〜 21:30
http://connpass.com/event/6887/

[2014-07-04 10:44] linyows commented on #1
速習Go。Fukuoka.go#1用の資料です。
https://gist.github.com/monochromegane/8bb73390f2ebd9d325f4

[2014-07-04 12:09] lacolaco commented on #1
GAE/Goの始め方
https://docs.google.com/presentation/d/1jz4h1-V4CCL0emQjxl-3BL12lGonol1A0dZrEc96oTw/pub?start=false&loop=false&delayms=3000

[2014-07-06 05:32] linyows commented on #1
@monochromegane @laco0416 ありがとうございました〜

[2014-07-06 05:32] #1 closed, assigned to nobody

[2014-07-06 05:33] linyows commented on #1
lsのやつコード欲しいなあ

[2014-07-07 00:21] linyows commented on #1
@monochromegane によるまとめ記事です。

Fukuoka.go#1を開催しました。 - Thinking-megane
http://blog.monochromegane.com/blog/2014/07/06/fukuoka-go-1/

[2014-07-15 08:40] linyows opened #2 "Fukuoka.go#2 + Fukuoka.rb LT大会"
2014/08/21(木) 19:30 〜 21:30
http://connpass.com/event/7559/

[2014-08-08 02:02] linyows commented on #2
今回はfukuoka.rbと合同になりました〜
https://github.com/fukuokarb

[2014-08-08 02:11] udzura commented on #2
よろしくお願いします :hamster:

[2014-08-08 02:36] monochromegane commented on #2
## TODO
- [x] Fukuoka.rb と合同 + 7Fに変更になった旨を connpass 経由で通知
- [x] Fukuoka.rb と合同 + 7Fに変更になった旨を Facebookグループで通知
- [x] 7FはWifiがない旨を connpassに追記
- [x] 7Fの大きなホワイトボードを組み立てておく

## 当日の作業
- [x] パーティションの準備
- [x] プロジェクタを準備
- [x] 電源タップを準備
- [x] イスの搬入（7F用のイスが先に納品されれば不要）~~18日搬入とのこと~~
- [x] 案内板を設置する（8F->7Fも含む）

[2014-08-08 02:41] linyows commented on #2
椅子は18日に届くので大丈夫そう

[2014-08-08 02:42] monochromegane commented on #2
お、やった！ :smile:

[2014-08-08 02:58] monochromegane commented on #2
告知系DONE

[2014-08-08 03:19] linyows commented on #2
:+1:

[2014-08-18 06:24] linyows commented on #2
残念ながら椅子の納品は翌週になったようです :crying_cat_face:

[2014-08-22 01:02] linyows commented on #2
死霊〜death

| Title | Speaker |
| :-- | :-- |
| [ルビーストのためのGo](https://speakerdeck.com/linyows/go-for-rubyists) | @linyows |
| [Hello GoDoc!](http://www.slideshare.net/laco0416/hello-godoc-38209599) | @laco0416 |
| [最近やっていること](http://www.storyboards.jp/viewer/64t76r) | @udzura |
| [実践Go ツールの作成から配布まで](https://speakerdeck.com/monochromegane/shi-jian-go-turufalsezuo-cheng-karapei-bu-made) | @monochromeg

[2014-08-22 01:03] monochromegane commented on #2
speackerdeckに集約したいのでアップしなおしました

[2014-08-22 01:12] linyows opened #3 "Fukuoka.go#3 LTともくもく会"
2014/09/16 (火) 19:30 〜 21:30
http://fukuokago.doorkeeper.jp/events/14905

[2014-08-22 01:18] morygonzalez commented on #2
アップロードしました。 [gyowitter のご紹介 // Speaker Deck](https://speakerdeck.com/morygonzalez/gyowitter-falsegoshao-jie)

[2014-08-22 01:33] linyows commented on #2
あざす〜

[2014-08-22 01:34] #2 closed, assigned to nobody

[2014-08-24 00:59] monochromegane commented on #2
Blogged: http://blog.monochromegane.com/blog/2014/08/23/fukuoka-go-2/

[2014-09-02 03:24] linyows commented on #3
１万件を超えるイベントを主催して、学んだ教訓 | Doorkeeper
http://www.doorkeeper.jp/イベント企画/参加者増やす

こちらの記事より、週頭にやりましょうという事で、月曜休みでとんで火曜に〜

[2014-09-02 05:00] monochromegane commented on #3
TODO

## 事前
- [x] イベントページ
- [x] <del>コミュニティロゴ @linyows </del>
- [x] Facebook告知 福岡IT勉強会
- [x] Twitter告知
- [x] Wi-Fi準備

## 当日
- [x] 案内板設置
- [x] 電源タップ配線
- [x] 会場設営（イス、テーブル配置）

[2014-09-02 07:03] linyows commented on #3
ロゴどんなのがいいかなぁ

[2014-09-04 03:40] keitakawamoto opened #4 "Fukuoka.go画像系制作物について"
@linyows から依頼があり制作させていただきます。
- ロゴ
- イベント用画像

必要なものと、どんな感じがいいとか皆さんがこれはいいものだと思うものの共有などをお願いします〜。

[2014-09-04 04:59] linyows commented on #4
キーワード的には
- Go
- 福岡
- コミュニティ
- 楽しい

かなー

[2014-09-04 09:05] monochromegane commented on #4
@keitakawamoto ありがとう〜 :smile:

他にキーワードあるかなあ

やっぱりGolangのマスコット [Gopher](https://www.google.co.jp/search?q=golang+gopher&safe=off&client=firefox-a&hs=9kU&rls=org.mozilla:ja-JP-mac:official&hl=ja&channel=fflb&source=lnms&tbm=isch&sa=X&ei=5CoIVKz7O8W0uASnmoDYDg&ved=0CAgQ_AUoAQ&biw=1381&bih=715) は前面に出さないにしても、少しあったほうが見る人がGolangのコミュニティだってわかりやすいのかな。

デザインしにくいかｗ

[2014-09-04 09:17] monochromegane commented on #3
告知しました〜
コミュニティのロゴは、第4回までに準備するようなスケジュールになりそう by @keitakawamoto

[2014-09-05 03:07] keitakawamoto commented on #4
Gopher要素は必要でしょうね。。。
考えてみますー。

逆に福岡要素が迷いますね。
`F`でしょうか。

[2014-09-05 03:30] linyows commented on #4
Fじゃ伝わりにくいので、ランドマークとか

[2014-09-05 03:31] linyows commented on #3
あざす〜

[2014-09-05 03:49] keitakawamoto commented on #4
http://ja.wikipedia.org/wiki/%E3%83%A9%E3%83%B3%E3%83%89%E3%83%9E%E3%83%BC%E3%82%AF

福岡は福岡タワーらしいですな。

[2014-09-05 03:51] monochromegane commented on #4
福岡タワー、関東のひとに知名度まったくなかった
へーそんなのあるんですね、みたいな:sweat_smile:

[2014-09-05 04:04] keitakawamoto commented on #4
アカン...
関東人から見た福岡とは？:finnadie:

[2014-09-05 05:44] keitakawamoto commented on #4
`#dev` で関東の方にお訪ねした結果
- ラーメン
- 手榴弾
- ロケットランチャー
- モツ鍋
- 明太子
- 山笠

プラチナミッキーの言う通り、福岡タワー、認知されていなかったw

[2014-09-18 03:02] linyows commented on #3
資料等

| Title | Speaker |
| :-- | :-- |
| [hcl/toml便利](https://speakerdeck.com/linyows/configuration-language-for-go-is-any-good) | @linyows |
| [Twelve Go Best Practicesの解説](https://talks.golang.org/2013/bestpractices.slide#1) | @monochromegane |

[2014-09-18 03:03] #3 closed, assigned to nobody

[2014-09-18 03:03] linyows opened #5 "Fukuoka.go#4 LTともくもく会"
2014/10/? (?) 19:30 〜 21:30
http://fukuokago.doorkeeper.jp/

[2014-09-18 05:03] monochromegane commented on #3
資料あざす〜

[2014-09-20 09:28] monochromegane commented on #3
ブログ書いたよ
http://blog.monochromegane.com/blog/2014/09/20/fukuoka-go-3/

[2014-09-29 00:29] keitakawamoto commented on #4
![image](https://cloud.githubusercontent.com/assets/1661325/4436265/721fca3e-476f-11e4-8c99-574b45f7b382.png)

@linyows  @monochromegane

まだ微調整やフォント選びがまだですが、下の丸いやつで行こうかと思ってます。
こんな感じでどうでしょうか。

[2014-09-29 00:32] linyows commented on #4
おお、いいすね〜 色の組み合わせが良い

[2014-09-29 00:32] linyows commented on #4
明太子感だすのむずいね...

[2014-09-29 00:34] linyows commented on #4
~~どうせなら、角帽を笠にしてみるとか~~ うーん微妙か。でも何かアカデミックっぽい雰囲気が強いなあ

[2014-09-29 00:36] keitakawamoto commented on #4
よかった！
山笠の笠って、どんなやつでしたっけ...（画像検索しても笠被ってる人見当たらず）

明太子感、リアルにぶつぶつを検討したのですが、気持ち悪い上に縮小したら視認できないので、やめました:finnadie:

[2014-09-29 00:37] linyows commented on #4
山笠は神輿の事っぽいので笠関係ないす...

[2014-09-29 00:38] linyows commented on #4
大学っぽいのをどうにかしたくて。

[2014-09-29 00:40] linyows commented on #4
頭にラーメン乗せるのはどうだろう

[2014-09-29 00:40] keitakawamoto commented on #4
うう、無知でした...

なるほど。勉強感を出したかったのですが、逆効果でしたか...
では大学っぽくなく、福岡名産っぽいのを！ラーメンやってみますね。

[2014-09-29 02:35] linyows commented on #3
Wi-Fi 接続切れる件、接続があっても30分ごとにチャンネル切り替える設定になっていたっぽい

[2014-09-30 05:01] keitakawamoto commented on #4
@linyows
方向性の共有のため、雑ですが画像を用意しました。
ラーメン置いてみました。（あとでラーメンの精度上げと影をつけます）

![image](https://cloud.githubusercontent.com/assets/1661325/4453544/daaa08fe-485e-11e4-868e-5889150a3c5f.png)

[2014-09-30 13:22] linyows commented on #4
いいね〜 話してて出たアイデア
- 博多にわかの面をつける
- ラーメンっぽい具をドンブリからみ出してみる

[2014-10-01 01:40] linyows commented on #4
○からラーメン出ないようにゴーファーやや下げてみたらどうかな

[2014-10-05 20:17] keitakawamoto commented on #4
@linyows
できました〜。
ラーメンとにわか面の２種類作りました！
（ひとつにまとめるとごちゃごちゃしすぎるので）
どっちかに絞らず、場合によって使い分けるとかしてもいいかも...とちょっと思いました。

### アイコン

![fukuokagoicon1](https://cloud.githubusercontent.com/assets/1661325/4519798/d7ce0d3a-4ccb-11e4-871b-14b2dae1cdf9.png)
![fukuokagoicon2](https://cloud.githubusercontent.com/assets/1661325/4519800/dafe3d5e-4ccb-11e4-8658-eafe8ff77a3d.png)

### テキスト

![fukuokagotitle1](https://cloud.gi

[2014-10-06 00:29] linyows commented on #4
@keitakawamoto いい感じ〜 :+1:、ラーメンとにわか２種類にわけるのいいね。ただにわかの分がちょっと輪郭がぼやける感じがあるのでGopherの青より濃い色はどうでしょうか。黒に近いグレーででシャドーを黒にするとか、Goは小文字がいいかなー

[2014-10-06 01:37] keitakawamoto commented on #4
@linyows お、了解す。

これはにわかが周りの色に埋もれずちゃんと輪郭がくっきり見えると良いってことですね。調整してみます！

`Go -> go`も了解です〜。あの大文字の`G`の丸さに惚れちゃいまして大文字にしてしまいましたw

[2014-10-06 03:13] keitakawamoto commented on #4
### メモ

背景色と面の色が近いため面の輪郭を視認しにくい。
背景色のいろいろなバリエーションを用意して検討する。

[2014-10-06 03:55] miyakey commented on #4
:+1::+1::+1:

[2014-10-06 05:48] linyows commented on #4
@keitakawamoto @miyakey サイトのたたき台です http://fukuokago.github.io/

[2014-10-06 05:52] keitakawamoto commented on #4
おおー:heart_eyes:

[2014-10-06 10:27] miyakey commented on #4
:metal:

[2014-10-07 00:33] keitakawamoto commented on #4
@linyows @monochromegane

小文字の`.go`の用意できました。

![ed0e516e-4ccb-11e4-8d89-0c60a1a81938_2](https://cloud.githubusercontent.com/assets/1661325/4535692/f9592578-4db8-11e4-8d75-0fca5150137f.png)
![ed0e516e-4ccb-11e4-8d89-0c60a1a81938](https://cloud.githubusercontent.com/assets/1661325/4535693/f97ddaf8-4db8-11e4-845d-47744ae5ad14.png)

にわか面タイプの画像のカラーバリエーションをいくつか用意してみました。
どうでしょう？

![image](https://cloud.g

[2014-10-07 00:41] linyows commented on #4
@keitakawamoto :+1:  青かなあ〜

[2014-10-07 02:34] linyows commented on #4
バナーもあると助かるー 970×250とか

[2014-10-07 04:58] keitakawamoto commented on #4
@linyows

でかいpng用意しました。

![-1](https://cloud.githubusercontent.com/assets/1661325/4537524/7bd262f6-4dde-11e4-81c8-d4136e660cf4.png)

[2014-10-07 05:00] keitakawamoto commented on #4
お、connpassに使えたりするバナーですか？

[2014-10-07 05:04] linyows commented on #4
@keitakawamoto ありがとう〜、そすそす

[2014-10-07 05:16] keitakawamoto commented on #4
ではいくつか試作品を用意しましょう。
少々お待ちを。

[2014-10-11 01:53] monochromegane commented on #5
10/22でイベント立てました http://fukuokago.doorkeeper.jp/events/16289

今回は20名なので8Fを会場にしてます

[2014-10-11 02:13] monochromegane commented on #4
Fukuoka.go#4のイベントページで使わせてもらいました！:metal:
やっぱ画像あると違うね！ ありがとう！！

[2014-10-15 23:27] keitakawamoto commented on #4
@monochromegane
いえいえ〜気に入ってもらえてよかった :laughing:

@linyows
方向性、こんな感じかなーというのをいくつか用意しました。

![2014-10-16 8 26 52](https://cloud.githubusercontent.com/assets/1661325/4655379/c83ef88a-54c2-11e4-82e0-dd00f7158a11.png)

埋め込み
![2014-10-15 22 34 53](https://cloud.githubusercontent.com/assets/1661325/4655351/58a20c92-54c2-11e4-9ad9-85cfa5cdcfca.png)
![2014-10-15 22 23 09](https://cloud.githubusercontent.com/as

[2014-10-16 02:28] keitakawamoto commented on #4
イメージしているものがあれば、是非共有を〜

[2014-10-17 01:36] linyows commented on #4
おっと、ごめん。えーと、アイコンが被ってるのでうーむとなっていたでござる。背景にでかいラーメン配置して前にちっさくgopherとかでいいようなとか考えていた。ラーメンのどんぶりにFukuoka.goと書いてあるとか。

[2014-10-17 01:39] keitakawamoto commented on #4
被りについては、他のコミュニティも被っていたので、アリかなーと思って作っちゃいました。
確かに理想的にはないほうが。

ありがたや！用意してみます〜

[2014-10-17 01:40] keitakawamoto commented on #4
@linyows ラーメンは実写とイラストどちらがいいですか？

[2014-10-17 01:46] linyows commented on #4
あ、今あるイラストを拡大でいいと思う。

[2014-10-17 01:47] keitakawamoto commented on #4
了解です〜

[2014-10-24 00:37] keitakawamoto commented on #4
@linyows バナーできました〜。どうでしょう？
（gopher、グループ画像で横にいるしいいかなって思って入れませんでした...）

![fukuokago_banner_03](https://cloud.githubusercontent.com/assets/1661325/4763705/c5da7980-5b15-11e4-9e97-c84f34ba84eb.png)

![image](https://cloud.githubusercontent.com/assets/1661325/4763700/ba46716e-5b15-11e4-9210-d6877c371ca9.png)

[2014-10-24 00:41] linyows commented on #4
あーでも、ラーメンのコミュニティっぽいかも

[2014-10-24 00:42] keitakawamoto commented on #4
ではいれたバージョンを用意しましょう。

[2014-11-04 05:04] keitakawamoto commented on #4
@linyows

すみません、いろいろあり遅くなってしまいました:bow:
以下のようなgopherの挿入、どうでしょうか。

![image](https://cloud.githubusercontent.com/assets/1661325/4895010/6dbb9716-63df-11e4-96fa-bfead4d8676d.png)

視線をラーメンではなくロゴにしたVer
![image](https://cloud.githubusercontent.com/assets/1661325/4895032/ec0c6fe6-63df-11e4-9004-50eb0467c256.png)

ちっちゃいVer
![image](https://cloud.githubusercontent.com/assets/1661325/4895014/7d0be66c-63df-11

[2014-11-04 23:58] miyakey commented on #4
:+1:
一番上がいいなと思いました〜

[2014-11-11 09:15] keitakawamoto commented on #4
@miyakey  970×250用意しました。
サイズ調整や微調整などはいつでもやるので、気軽にお声かけください〜

![fukuokago_banner_03](https://cloud.githubusercontent.com/assets/1661325/4990723/ac20cf18-69ce-11e4-922a-57b1356db98c.png)

[2014-11-11 09:16] keitakawamoto commented on #4
@linyows にも確認をしたので、close

[2014-11-11 09:16] #4 closed, assigned to nobody

[2015-07-29 16:55] keitakawamoto opened #6 "Tシャツできました"
@linyows @monochromegane

お待たせしました。忘れてました:finnadie:
Tシャツができましたので共有します〜。
シャツの内容・説明文等の修正、リクエストがあればこちらにお願いします。
- https://suzuri.jp/keita_kawamoto/omoide/2234

![image](https://cloud.githubusercontent.com/assets/1661325/8963965/f0d85be2-365d-11e5-976b-675ec1845603.png)

[2015-07-30 14:41] linyows commented on #6
ほほ〜、買った

[2015-07-30 14:42] #5 closed, assigned to nobody

[2015-07-31 00:11] keitakawamoto commented on #6
:sushi:
では何かリクエストがあれば再openということで、closeしますー

[2015-07-31 00:11] #6 closed, assigned to nobody

[2018-06-18 03:06] linyows opened #7 "ステッカーを作る"
そろそろ、ステッカーを作ってもいいのかなって思っていて、シンプルなsuzuriのやつもいいけど、できればmacに貼ってもらえるやつもいいかなあと思っている。

こういうの。
http://thedecalguru.com/macbook-decals/

@keitakawamoto 大先生にアイデア聞いてみようかな

[2018-06-20 03:03] keitakawamoto commented on #7
おっ。どんどん勢力を増していますね、fukuoka.go! Twitterトレンド入りまでしてポケモンGO勢を困惑させるレベルですね。最高です。

いろいろなステッカーバリエーションのスケッチを用意してみますので、気長にお待ちください〜

## 参考：現在のステッカー

記録としてissueに残しておく。

はコレ。https://suzuri.jp/keita_kawamoto/725888/sticker/m/white

![image](https://user-images.githubusercontent.com/1661325/41635104-de03b18c-7481-11e8-8bc8-f4150c7796b2.png)

[2018-06-20 03:16] keitakawamoto commented on #7
![image](https://user-images.githubusercontent.com/1661325/41635445-b4ee6b82-7483-11e8-82a2-458719bfd916.png)

こういうのどうやって発注するんだろ

[2018-07-05 06:54] linyows commented on #7
@k1low さんが作ってたので聞いたら以下の業者で注文したらしい

https://www.quackworks.jp/

ただ、転写シートが白色なのでアップルマークに合わせるのが大変だったとのこと。ここが透明なものを取り扱っている業者を探す方が良いかも

[2018-07-05 07:01] linyows commented on #7
アイデア

- にわかの面つけたgopherがリンゴかじる [こんなん](https://www.amazon.co.jp/%E3%82%AF%E3%83%83%E3%82%AD%E3%83%BC%E3%83%A2%E3%83%B3%E3%82%B9%E3%82%BF%E3%83%BC-Cookie-Monster-Macbook-13%E3%82%A4%E3%83%B3%E3%83%81%E5%AF%BE%E5%BF%9C-%E3%82%B9%E3%83%86%E3%83%83%E3%82%AB%E3%83%BC-C78-%E4%B8%A6%E8%A1%8C%E8%BC%B8%E5%85%A5%E5%93%81/dp/B06XQCJWK3/ref=sr_1_29?m=A2YFB57EVDND0H&s=computers&ie=UTF8&qid=1530773764&sr=1-29&ref

[2018-07-06 05:20] keitakawamoto commented on #7
なるほど！
きになるところは、最新のMBPは発行せずメタリックな感じになってますが、ステッカーと合うでしょうか？いい感じになるかな〜試したいw

[2018-07-06 09:32] linyows commented on #7
@keitakawamoto おやまさんのマシンを見せてもらったらイメージ湧くかもしれないす

[2018-07-11 00:37] keitakawamoto commented on #7
お！ちょっと覗きに行きまっす！

[2018-07-11 03:52] keitakawamoto commented on #7
## 光らないメタリックなものとも合いそう

というかクールそう。いくつか案を作ってみまっす！

以下おやまさんのマシン
![image](https://user-images.githubusercontent.com/1661325/42549852-4e2c914e-8509-11e8-9e1f-102e3e0cbecd.png)

[2018-07-19 02:35] linyows commented on #7
汎用的なステッカーもあったほうがいいので以下で注文しようかな。耐久いいやつとしてPVC（塩ビ）+ラミネートで、500枚と1000枚で1000円しか変わらないので1000枚で...
http://www.adprint.jp/

![180719-0001](https://user-images.githubusercontent.com/72049/42918184-aff9515c-8b47-11e8-8c78-c876023c9426.png)

ちなみにsuzuriで100枚注文すると¥42,188...

[2018-07-19 02:36] linyows commented on #7
4色じゃ厳しいのか

[2018-08-29 09:36] linyows opened #8 "雑談会場を作る"
雑談以外にもstaffのおしゃべりにも

[2018-08-29 09:36] linyows commented on #8
https://fukuokago.now.sh/ つくった。zeit便利

[2018-09-01 06:51] #8 closed, assigned to nobody

[2018-11-27 03:36] monochromegane opened #9 "Fukuoka.go#13はOkayama.goと一緒にやりたい"
ref: https://twitter.com/monochromegane/status/1067258144995201024

[2018-11-27 03:48] monochromegane commented on #9
とりあえず一度現状把握して方向性を合わせると良いと思うので確認したい事項をリストアップしてみる．追記などあれば自由にお願いします．

## Agenda

- [x] 目的の設定（トークを聞いてもらいたいのか交流が目的か）
- [x] 日程調整
- [x] 福岡側の場所確保
- [x] 岡山側の場所確保(要: インターネット，カメラ，プロジェクタ)
- [ ] イベント内容
  - [x] トーク単方向or双方向
  - [ ] 懇親会のリモートでの相互交流をどうするか
- [x] スポンサー（Forkwellさんのスポンサーを岡山まで広げることは可能か）
- [x] 告知方法（Connpassを別ページにするのか）
- [x] 継続について
- [x] 岡山と画面共有しながらの発表を事前リハーサルする

[2018-11-27 06:52] linyows commented on #9
Oyama.goに空目... あざmす！

[2018-11-27 07:00] linyows commented on #9
交流が目的なんだけど手段がトークなのかなあと思いました。前半と後半分けて、コミュニティ双方で発表を行うのはどうでしょう。Okayama.goの普段がどういう雰囲気か知りたいところです。懇親会は、リモート越しにやるのは敷居が高い気はしました。個別に行うが現実的かなあー

[2018-11-27 07:02] monochromegane commented on #9
なるほどなるほど〜．Okayama.goは実はまだなくて参加人数なども未知数って感じみたいです．
やはり一度ざっくばらんに相互の現状を伝え合うMTGを設けましょうかね〜

[2018-11-30 12:13] linyows opened #10 "Go Conference 2019 in Fukuoka"
福岡でGoコンやるのだ！東京とずらしてSummer?

[2018-12-01 04:42] monochromegane commented on #9
いわたプロのGitHubアカウントがわからない...!!

### 状況の共有

1. トークについて
    岡山会場からは，今の所，1名分(いわたプロ)のトークを想定しようかなと思っています．もちろんトーク希望があれば枠はできるだけ確保します．

2. 日程について
   2019/02の上旬ぐらいにできればなあと考えています．

### 質問

1. 中継設備を伴う場所の確保について
    今回の中継にあたり，Google {Hangout, Meet}を想定してます．岡山会場で以下の設備がある会場って抑えることはできそうでしょうか
    - インターネット環境 (必須)
    - プロジェクタ，スクリーン (できれば)
    - スピーカーマイク (できれば)

2. 食事の準備について
    Fukuoka.goでは食事とお酒を提供しています．また最初の15分をネットワ

[2018-12-01 05:52] qt-luigi commented on #9
monochromegane さん、改めましてこの度はお誘いありがとうGoざいます！q@w@p
linyows さん、初めましてというかなんというか私はGoCon 2017 Springにて発表を拝聴させて頂いておりました！m(__)m

一先ず、自己紹介がてら岡山のGoイベントの状況をば。

現在、私が知っている岡山のGoイベントは以下の通りで、私は一通りお手伝いをさせて頂いております。

- GDG中国さん主催の「Golang Cafe」の開催（現在までに82回開催されています！去年、開催権限を頂きましたが2月を最後にちょっとできてません...）https://gdgchugoku.connpass.com/
- 小西さんという方が主催の「岡山システムプログラミング勉強会」で書籍「Goならわかるシステムプログラミング」の本読み会（小西さんと私とあと広島から1名参加で3名で月1〜2回ペー

[2018-12-01 06:04] qt-luigi commented on #9
2019年2月開催なら「Go 1.12 Release Party in 福岡 or 岡山」にするのもアリかも!? q@w@p
ちなみにGo Release Partyですが日本では毎回東京、静岡、岡山が開催しています。
Go参考までにの発言のため今まで通り*.goとpartyと別々イベント開催で勿論大丈夫です！（岡山は別々でもやりますよぉ〜）

[2018-12-01 11:50] linyows commented on #9
@qt-luigi 初めまして！そしてよろしくお願いします！

[2018-12-02 03:16] qt-luigi commented on #9
基本的にはFukuoka.goさん主導で決定して頂いてこちらが追随する形で大丈夫です。

トーク

岡山での各Goイベント開催感からすると私以外は少し難しいかもしれませんが、せっかくなのでこちらでも若干名募集してみます。

日程

そちらに合わせます。これまでの流れですと平日の19時スタートですよね。

会場

岡山はネットが使える施設が少ないので探す必要があります。日程が決まれば相手と話がしやすいかもしれません。最悪は私のWi-Fiルーター＆MacBookAirの画面＆カメラ＆マイクで対応します。通信手段(?)は私もGoogle{Hangout, Meet}ぐらいしか知らないので助かります。

食事

そちらのタイムテーブルに合わます（そちらが食事タイムならこちらでも何か食べる感じで）。スポンサーさんもそちらにお任せします。準備ややりとりが煩雑になるようでしたらこちらはなしで大丈夫です。

[2018-12-03 01:34] monochromegane commented on #9
@qt-luigi 情報ありがとうございます！まずは日程を決めてみます~!!

[2018-12-03 01:39] monochromegane commented on #10
大注目Issueじゃん

[2018-12-03 01:40] monochromegane commented on #7
golang.tokyoのステッカーはかわいかったなあ

[2018-12-03 01:55] linyows commented on #9
イベントページ(connpass)はどうしましょうかねー それぞれで行うのがシンプルでいいかな

[2018-12-03 01:59] monochromegane commented on #9
そうですね，会場も違うことですし，混乱しないよう分けた方が良い気がしてきました．
相互リンク（懐かしい！！）を貼りましょう〜

[2018-12-03 02:08] linyows commented on #10
TODO

- [x] 日程調整
- [x] 会場選定
- [ ] スポンサー枠検討
- [ ] スポンサー募集
- [ ] キーノートどうするか
- [ ] 募集サイト

- - -

参加無料にしたいからスポンサー会場提供の方向で考えたい

[2018-12-03 02:11] monochromegane commented on #10
とりあえず GoCon主催とは飲み会の場レベルでやりましょうの話なので，やるなら正式に筋を通す必要ありです

[2018-12-03 02:16] linyows commented on #10
一番大事なやつですね

[2018-12-03 02:19] monochromegane commented on #10
先にOKもらってた方が色々進めやすいでしょうから， tenntennさん経由で打診してみます．

[2018-12-03 02:30] linyows commented on #10
yo

[2018-12-03 02:31] linyows commented on #10
よろます〜

[2018-12-03 02:35] monochromegane commented on #10
FGNのリニューアルが来年の5月なので，イベントスペースが広いところができればいいな．
調整次第で無料でできるようなことを言ってた気もするのでメモ
https://growth-next.com/fgn2/

[2018-12-03 02:44] linyows commented on #10
FGN良さそう！規模感としては100〜200。レベル感分ける目的で2トラックもあり。

[2018-12-03 07:30] monochromegane commented on #9
@qt-luigi `2/12` で進めようと考えています〜．現時点で岡山側で難しい日程でないかだけ確認お願いします！

[2018-12-03 12:47] qt-luigi commented on #9
岡山側2/12(火)で大丈夫です＆connpass分け分け了解です！q@w@p

[2018-12-04 08:09] monochromegane commented on #9
@qt-luigi 申し込みページはこんな感じにする予定です．
ひとまずOkayama.go枠で Talk(15min),LT(5min)をそれぞれ一枠づつ確保しています！
見えますかね？
https://fukuokago.connpass.com/event/112073/preview/

[2018-12-04 08:25] qt-luigi commented on #9
枠確保ありがとうGoざいます！q@w@p URLですがconnpassにログインしても見れませんでした。

[2018-12-04 08:29] monochromegane commented on #9
う，すみません，こんな感じです！

[code]

[2018-12-04 08:30] monochromegane commented on #9
イベントタイトルは `Fukuoka.go#13+Okayama.go` としています！

[2018-12-04 08:39] qt-luigi commented on #9
内容＆タイトル、了解しました！
こちらも追っかけでイベントぺージを作成＆公開しますので先に公開して頂いて大丈夫です！(場所は追々で更新します)
イベントページ作成時にそちらの内容をある程度コピらせて頂きますことをGo了承くださいm(_ _)m

[2018-12-04 08:44] monochromegane commented on #9
はい！よろしくお願いします〜
公開したらまたご連絡いたします！

[2018-12-04 08:51] monochromegane commented on #9
早すぎてまだ飲食代に関する会社りん議も通してなかったので一旦公開待ちw

[2018-12-04 08:58] monochromegane commented on #9
OKいただいたので，公開しました！
https://fukuokago.connpass.com/event/112073/

[2018-12-04 09:00] linyows commented on #9
わーい

[2018-12-04 09:58] monochromegane commented on #10
一旦 tenntenn さんに開催に関する福岡側の準備は整っている旨と開催可否を打診

[2018-12-04 13:06] qt-luigi commented on #9
わーい！q@w@p

[2018-12-04 14:30] monochromegane commented on #10
GoCon運営側はぜひとのこと，進めていきましょう！！
また，スピーカーやスポンサーなども色々相談できるとのこと，ありがたや〜

[2018-12-05 00:40] linyows commented on #10
わーい ㊗️

[2018-12-05 01:31] monochromegane commented on #9
TODOに `岡山と画面共有しながらの発表を事前リハーサルする` を追加しました．
岡山側の会場など決まったら，どこかで日程決めてやりましょう〜 @qt-luigi

[2018-12-05 14:36] qt-luigi commented on #9
リハ了解しました、が、会場を検討中でして、もうしばらく時間をかけさせてくださいm(__)m
あと私はネットをしにくい職場のため日中はレスポンスが鈍くなることをGo了承くださいm(__)m

[2018-12-06 05:53] monochromegane commented on #9
おお，承知しました！急ぎませんので決まりましたらご連絡ください〜（Fukuoka.goは楽しくサステナブルがモットーです）

[2018-12-09 03:53] qt-luigi commented on #9
会場決まりました！q@w@p 今connpass作成中なのですがちょりっと質問？相談？させてください。
福岡の方はガンガン発表がされていく流れですが、ネットで繋げられるのはネットワーキングの時とかこちらの発表の時だけでしょうか？
そちらの発表が随時中継されるなら岡山でもそれを眺める感じで、こちらの時だけ繋がるならその間はこちらも何か（こちらはこちらで発表とかGoの座談会やら）用意しないと行けないかなぁと思っています。

[2018-12-09 05:26] monochromegane commented on #9
会場選定ありがとうございます〜！ & お疲れ様です！

中継について常時接続で考えています．
こちらの発表の時は岡山側で聞いてもらって，岡山側の発表の時は，こちらはその発表を聞きます．

ですので，

この感じでよさそうです！

Google meetで福岡会場，岡山会場が参加して発表者が都度そこにジョインを行う予定です〜
ここについては事前リハーサルでやりやすい接続方式を検討しませう．

[2018-12-09 05:39] qt-luigi commented on #9
中継の常時接続の予定であること、了解しました！
そちらが発表の時は中継を見させて頂きつつ、こちらは食べたり話たりする流れにしておきます。

今回、会場は別の会社さんの施設を利用させて頂くため、実際の実現性などはリハーサル時に色々と確認させて頂けれたらと思います（よーするに「やってみにゃーわからん」です:^^;）

あと、こちら側のイベントサイトのタイトルですが「Fukuoka.go#13+Okayama.go in Okayama」で考えていますが大丈夫でしょうか？

[2018-12-09 05:44] monochromegane commented on #9
はい〜．こちらも発表見ながら飲食する感じです！

中継はうちも初めてなのでリハーサルでやっていきましょう〜

イベント名ですが，ご提案の奴でもOKです〜．
ただ，せっかく岡山のコミュニティが立ち上がったことですから， Okayama.go#1+Fukuoka.go みたいに，岡山のGoのイベントでFukuoka.goとなんかやるよ〜みたいな感じを出していただいてもいいかな〜と思ってます

[2018-12-09 05:49] qt-luigi commented on #9
タイトル案、ありがとうGoざいます！

そうですね、せっかく立ち上げたのだから「Okayama.go#1+Fukuoka.go」の方が良いですよね＆そうさせて頂きます！m(_ _)m

[2018-12-09 05:49] monochromegane commented on #9
わーい！

[2018-12-09 05:51] qt-luigi commented on #9
わーい！q@w@p

[2018-12-09 07:16] hayashiki commented on #9
いわたさんとOkayama.go運営してまいります林田ですー。（福岡出身です
私も岡山より参加いたします、当日はよろしくおねがいします！

[2018-12-09 07:17] qt-luigi commented on #9
I just publish Okayama.go#1 !! https://okayamago.connpass.com/event/112138/

[2018-12-09 07:20] qt-luigi commented on #9
hayashikiさん共々よろしくお願い致しますーm(__)m > Fukuoka.go
あとこちらには陶山@ほぼろさんと萩野さんという方が管理者メンバーなのでもしこちらに顔を見せた際にはよろしくお願い致しますーm(__)m > Fukuoka.go

[2018-12-09 07:26] monochromegane commented on #9
@hayashiki 林田さん，こちらこそよろしくお願いします〜！

承知しました．岡山の力を感じます...!!

[2018-12-09 07:26] monochromegane commented on #9
イベントページきましたね！連絡ありがとうございます！

[2018-12-09 07:57] rhoboro commented on #9
いわたさん、林田さんと同じくOkayama.go運営してまいります陶山です 😃
大分出身で今は広島の尾道に住んでます（どちらからもビミョーにずれてるw
一緒にわいわい盛り上げていければと思いますのでよろしくお願いします〜 💪

[2018-12-09 08:02] monochromegane commented on #9
@rhoboro 陶山さんもよろしくお願いします〜！！ 💪 💪
ワイワイ盛り上がっていきましょう〜

[2018-12-10 03:02] linyows commented on #9
@hayashiki @rhoboro よろしくお願いします！！

[2018-12-10 03:20] linyows commented on #10
福岡市の方やFGN事務局とお話ししやすいように企画書的（背景、目的云々）なものを準備する

[2018-12-10 03:21] linyows commented on #10
打ち合わせの調整はMr. Kにお願いする

[2018-12-10 03:22] monochromegane commented on #10
Mr.K調整します~

[2018-12-14 05:07] monochromegane opened #11 "Fukuoka.goの過去実績を記録していくスレ"
| 通番 | 開催日         | イベント名                                     | 出席者数 | 発表者数 |
| ----: | -------------- | ---------------------------------------------- | --------: | --------: |
| 0    | 2014/06/06(金) | [GoCon 2014 spring 福岡二次会](https://connpass.com/event/6716/)                   | 10       | 1        |
| 1    | 2014/07/04(金) | [Fukuoka.go#1](https://connpass.com/event/6887/)

[2018-12-14 05:29] monochromegane opened #12 "参考までにGoConの実績値を更新していくスレ"
| 開催日         | イベント名                                                            | 出席者数 | 発表者数 |
| -------------- | --------------------------------------------------------------------- | -------- | -------- |
| 2013/04/13(土) | [Go Conference 2013 spring](https://gocon.connpass.com/event/1906/)   | 129      | 7        |
| 2013/10/14(月) | [Go Conference 2013 autumn](https://gocon.connpass.com/event

[2019-01-08 07:37] monochromegane commented on #9
@qt-luigi cc. @hayashiki @rhoboro あけましておめでとうございます〜．イベント，ついに来月ですね！
中継形式が初めてなので事前にリハをやりたいのですが，岡山側の会場はどんな感じでしょうか．
よければ 1/21 or 1/23 の夕方にでも接続できれば〜と思っております〜！

[2019-01-08 11:31] qt-luigi commented on #9
あけましておめでとうGoざいます！q@w@p 現在こちらの会場さんへ日程を確認中です。

１．ちなみに夕方というのは具体的には何時ぐらいからでしょうか？こちらの会場さんの定時の時刻も確認中なのですが、例えば18:00からとかでもそちらは大丈夫でしょうか？希望する開始時刻があれば教えてください。こちらの会場さんと調整してみます。
２．確認する内容はどんなものなのでしょうか？基本的にはハングアウトの調子（音声や映像が耐えるか）でしょうかね。

[2019-01-08 12:14] qt-luigi commented on #9
こちらの会場さんとお話しして1/23(水)、1/21(月)の優先順となりましたので、一先ず1/23(水)でお願い致しますm(__)m リハ開始可能時刻は会場さんの就業時間が18:00までのためそれ以降(18:15とか)になります。如何でしょうか？

[2019-01-09 01:33] monochromegane commented on #9
はい！それでは 1/23(水) 18:15- でリハよろしくお願いします！

確認する内容は相互の発表内容が見聞きできることです．
具体的には
Google hangouts meetの会議IDに `岡山端末` `福岡端末` `発表者端末` がジョイン， `発表者端末` が画面共有したものが `岡山端末` と `福岡端末` (これらはおそらく会場のモニターに繋がっている) が見えること．
また，発表者の音声が `岡山端末` と `福岡端末` からIN/OUTされること
が確認事項となりそうです．
お互いの環境がまだ不明なので当日お話しながら進めれたらと思いますがざっくりはこんな感じで考えています！

[2019-01-11 08:22] monochromegane opened #13 "GoCon2019 LPを公開する"
## 期限

1月中

## 成果物

FGNイベントスペース並びにスタカフェの申し込み時に利用できるもの

## 要件

- [x] CfPスケジュールとイベント日程が記載されていること
- [x] 当日のタイムテーブルが規定されていること
- [x] デザインが適用されていること
- [x] 公開され，アクセスできること

## 参考情報

公開時のURL: https://fukuoka.gocon.jp
場所は https://gocon.lolipop.io/ を抑えている．

[2019-01-11 08:25] monochromegane opened #14 "会場予約する"
## 期日

2月中

## 成果物

申し込み完了

## 申し込みに必要な情報

- [x] LP (タイムスケジュールとタイムテーブル込み)
- [x] 告知文（確定したもの: 300字以内）
- [x] これらを踏まえた村上さんへの頭出し依頼
- [x] 3月スタカフェ正式申し込み
- [ ] 告知用写真の送付

## 参考情報

- https://gist.github.com/linyows/0dd1669e4a08040ecdedb4c81f41542a
- スタカフェ申し込みフォームは非公開情報

[2019-01-11 08:29] monochromegane opened #15 "GoCon2019 タイムテーブルを決める"
## 期日

1月中

## 成果物

タイムテーブル

- [x] 開始，終了
- [x] トークの種別と時間（ロングとショート，スポンサー枠，LTなど）
- [x] 2トラック制でなるべく多くトークがあるような時間割
- [x] 休憩を含める
- [x] 質疑応答を含めるかを検討
- [x] 懇親会を含めるかを検討

[2019-01-11 08:32] monochromegane opened #16 "スポンサー内容を決める"
## 期日

2月〜3月中

## 成果物

- [x] スポンサー種別
- [x] スポンサー候補の選定
- [x] スポンサーのメリット（トークしてもらう？）

実際のスポンサーとの折衝は個別Issueとする

## 参考情報

[code]

[2019-01-11 08:44] monochromegane opened #17 "CfPの告知を行う"
## 期日

4月中

## 成果物

- [x] 4/1にCfPページ公開（Google Form?，1月に決まったタイムテーブルを元に発表者枠とトーク種別を指定）
- [x] 4月いっぱいCfP受付

[2019-01-11 08:45] monochromegane opened #18 "トークの確定と結果通知"
## 期日

5月前半

## 成果物

- [x] トーク選定者のアサイン
- [x] 5/1〜5/13でトーク決定
- [ ] 5/13に合否通知

## メモ

- 選定基準はどうするか
- 他に選定者を設けるか

[2019-01-11 08:48] monochromegane opened #19 "イベント申し込み管理"
## 期日

5/13-5/31

## 成果物

- [ ] タイムテーブルの最新化
- [ ] 募集ページ（Connpass?)の公開
- [ ] 抽選

## メモ

人数については5/31のFGNリニューアルまでには絶対確定できるはず

[2019-01-11 08:51] monochromegane opened #20 "運営スタッフの募集"
## 期日

3月

## 成果物

- [ ] 運営スタッフの仕事を決める
- [ ] 募集（まずはペパボ，不足するならConnpassのイベントページで当日枠募集？）

## メモ

当日スタッフのやってほしいこと

- 受付
- 会場スタッフ
- 司会？
- 設営準備
- 撤収

[2019-01-11 08:53] monochromegane opened #21 "アンケートの管理"
## 期日

7月中

せっかくなので参加者にアンケートをとってスポンサーやペパボ，登壇者にフィードバックしたい

## 成果物

- [ ] アンケート内容を検討する
- [ ] アンケートの募集（Google Form?）
- [ ] アンケート結果の集計

[2019-01-11 08:56] monochromegane opened #22 "一般懇親会の検討"
## 期日

7/13

せっかくなので交流してGo仲間を増やしたりコラボや議論が生まれてほしい．
一般の参加者がGoConの後にそのまま飲食できる場を検討する．

## 成果物

- [ ] FGNが使えるか打診
- [ ] スポンサーでオードブルや飲み物提供ができるところを検討
- [ ] 会場が使えないなら有料の懇親会にするか検討
- [ ] その場合，会費の徴収方法の検討

## メモ

- LTなどできるとぼっちの人も寂しくない

[2019-01-11 08:57] monochromegane opened #23 "運営スタッフ&発表者の打ち上げ（懇親会の二次会）"
## 期日

7/13

ここから生まれるコラボレーション．あとは単純に打ち上げたい

## 成果物

- [ ] 参加人数の見積もり
- [ ] お店の予約

[2019-01-11 09:17] monochromegane commented on #14
https://github.com/fukuokago/event/issues/22 懇親会会場も兼ねることができるかなあ

[2019-01-15 03:53] monochromegane commented on #15
なるべくたくさんの登壇者に話してもらう機会があるといい（東京から来る人も増える）のでキーノートはない方向で考えている

[2019-01-15 03:54] monochromegane commented on #15
スポンサーセッションは，2トラック制ってあんまり聞かないなあ．
会場繋げるかどうかで構成が変わって来そうだ

[2019-01-15 06:17] monochromegane commented on #15
タイムテーブルの案．Long(40min), Short(20min), Suponsor(20min)
ref: https://docs.google.com/spreadsheets/d/1qdJNlvYoo7RjOf_hEADjLrvAqeWpfrWCMQVjLt6EFjU/edit#gid=0

minutes | title | start | end
-- | -- | -- | --
0:30 | Open | 9:30 | 10:00
0:10 | Opening talk | 10:00 | 10:10
0:40 | Long talk | 10:10 | 10:50
0:20 | Suponsor talk | 10:50 | 11:10
0:20 | Suponsor talk | 11:10 | 11:30
0:20 | Short talk | 11:30 |

[2019-01-15 06:23] monochromegane commented on #15
[code]

[2019-01-15 06:24] monochromegane commented on #15
質疑応答は上記枠に含める

[2019-01-15 06:24] monochromegane commented on #15
懇親会のタイムテーブルはまた懇親会Issueでやる

[2019-01-15 06:24] linyows commented on #15
あざます！！！！！あまり変更不要そうな気がします。スポンサーセッションといえど、技術的にみんなが聞きたいセッションにしてもらえれば集客できると思いますので、少なくする必要はない気がしました。どっかのshort talk枠にに学生用LTを突っ込んでも良さそうですね！

[2019-01-15 06:26] linyows commented on #15
15時あたりから、軽くお酒や軽食を出し始めるとか（徐々にFukuoka.goっぽく）

[2019-01-15 06:26] monochromegane commented on #15
なるほど学生枠!
Short(20min)を学生用LT(10min x2)とかに分割すれば良さそう！
では大枠はこんな感じで，細かくトーク枠が決まれば，40 - 20 - 10 の枠で交換していきます〜

[2019-01-15 06:27] linyows commented on #15
わーい

[2019-01-15 06:27] monochromegane commented on #15
ご飯系，会場側とうまく連携して Fukuoka.go 感出したいですぞ！

[2019-01-21 06:21] monochromegane commented on #9
@qt-luigi https://github.com/fukuokago/event/issues/9#issuecomment-452526199 1/23でリハ予定ですが，問題ないでしょうか〜 cc. @hayashiki @rhoboro

[2019-01-21 11:04] qt-luigi commented on #9
会場さんにも再度確認がとれましたので大丈夫です！1/23のリハは私と会場提供者の方の２名で対応させて頂きます。林田さんとほぼろさんは2月の本番日に！

[2019-01-23 15:35] linyows commented on #9
@qt-luigi  @monochromegane リハありがとうございました。念の為、福岡側の構成図を残しておきます。

![190124-0001](https://user-images.githubusercontent.com/72049/51652810-4c96f480-1fd4-11e9-91c3-4a1071db4c6d.png)

Google Meetで、福岡のChromecastと岡山で接続維持し、登壇者がMeeting Roomに参加してスライドを共有する方針。（なので、URLからどこからでも参加することが可能となる）福岡会場は、登壇者はマイクを使い、登壇者と聴衆はスピーカーから音声を聞く。

[2019-01-23 15:35] linyows commented on #9
USB Mixerはこれ https://tascam.jp/jp/product/us-42/top

[2019-01-23 23:30] monochromegane commented on #9
完全に理解した！

[2019-02-05 02:46] monochromegane commented on #17
https://www.papercall.io/gocon-jp-2019-fukuoka でPaperCallに場所を作ってもらった〜

[2019-02-05 03:44] monochromegane commented on #14
[code]

[2019-02-05 12:44] linyows commented on #14
ああ、サイトにもこっち使おう > 告知文

[2019-02-07 03:15] monochromegane commented on #14
スタカフェは7/13で仮押さえDone．
3月に正式申し込みが必要とのこと

[2019-02-07 03:15] monochromegane commented on #14
FGNはまだよくわからないので告知可能な時期含めて引き続き村上さんに聞いてもらっているところ

[2019-02-07 03:47] linyows commented on #14
早く確定できたらいいなあ

[2019-02-07 03:52] linyows commented on #14
TODO: 会場おさえるのと、そこでの機材や飲食問題をクリアする

[2019-02-12 04:51] qt-luigi commented on #9
ついに今夜！皆様よろしくお願い致します！m(_ _)m こちらは18時以降から準備開始となりますので準備出来次第、連絡しまーす！q@w@p

[2019-02-12 04:58] monochromegane commented on #9
わーい！よろしくお願いします！！！

[2019-02-13 02:28] monochromegane commented on #9
お疲れ様でした！！！

一応振り返りしておきます

## Keep

- 拠点繋いで楽しさ倍増．また他の地域含めて繋いで行きたい
- 拠点同士で発表できると一緒にやっている感が出るので，今後もどちらも発表できるようにしたい
- 岩田プロと小田さんのコールアンドレスポンスがウケた（質問ほんとにないですか，ないでーす）
- 意外とMeet参加->画面共有で発表のやり方でもタイムロスはなかったので，URL共有とマイクオフの手順をSlackチャンネルで通知する方式で良さそう

## Problem

- 岡山側への映像が発表者しか写していなかったので，最後に数十名いたことを知ってた．
- 音声の調整に時間がかかった

## Try

- カメラは発表者と参加者が見れるように増やす or 途中で視点を動かす
- 接続方式は前日までに通知して置いて良さそう

[2019-02-13 06:43] linyows commented on #9
みなさん、乙ました〜

Keep
--

- 拠点繋ぎ、質疑応答含めちゃんと勉強会開催できた
- それぞれのコミュニティがパワーアップしているかのように思えた
- 事前接続テストをやっていたおかげで予定時間に開始できた
- Linuxマシンの人でもmeetにつなげればいいので接続テストが不要だった

Problem
--

- 岡山の音声はマックスだった？にもかかわらず福岡での出力が小さかった（福岡側の設定の可能性が高そう、tascamのマニュアルを読む）
- 質問が少なくてオーガナイザが質問することが幾度かあった（次の質問につながればこれでよいが、オーガナイザの質問で終わることもあった。質問に敷居が高ければtwitter経由で質問を募集しても良いかも）
- 懇親会はもろ拠点間の距離が影響してくるので勉強会を通じて交流を深めたい（岡山側の登壇数をLTでいいので増やしたい）

Try
--

[2019-02-13 06:51] #11 closed, assigned to nobody

[2019-02-13 06:51] #12 closed, assigned to nobody

[2019-02-13 06:53] linyows commented on #10
キックオフ的なものはやっているので閉じ

[2019-02-13 06:53] #10 closed, assigned to nobody

[2019-02-13 06:53] linyows commented on #7
新しいfukuoka gopherを河本くんが作ってるので仕切り直し

[2019-02-13 06:53] #7 closed, assigned to nobody

[2019-02-13 06:53] monochromegane commented on #9
長かったIssueですが，得るものもたくさんありました．
ひとまずこのIssueは閉じます！
@qt-luigi cc. @hayashiki @rhoboro 気づいたことがあれば，このIssueにぜひお書きください〜
またつなぎましょう！！！！！

[2019-02-13 06:53] #9 closed, assigned to nobody

[2019-02-13 06:58] monochromegane commented on #15
一旦仮のタイムテーブルできたので閉じます．
懸念事項は一般懇親会をどうするかですが，それは https://github.com/fukuokago/event/issues/22 のIssueで進めます．

[2019-02-13 06:58] #15 closed, assigned to linyows, monochromegane

[2019-02-13 07:00] monochromegane commented on #13
@linyows & @keitakawamoto の尽力により https://fukuoka.gocon.jp で爆誕しました．
2月中にアップデートしていきますが，まずは当初の予定要件は満たしたので閉じ！

[2019-02-13 07:00] #13 closed, assigned to linyows, keitakawamoto

[2019-02-13 12:05] qt-luigi commented on #9
三宅さん＆小田さん、お疲れ様でした＆お世話になりました＆ありがとうごGoざいました！q@w@p

私はKPTなるものを書いたことがないので、見様見真似で...(^^;)
私のGitHub力が低いので、見た目がプレーンでスミマセン...m(__)m

Keep
----

岡山は少人数でしたが、皆さん熱心にFukuokaの皆様の発表を拝聴しておりました。
（Goは少しだけという方には、私の方で合間に補足説明を入れておりました。）

岡山にも「質問ありますか？」と振って頂いたおかげで、ちゃんと一体感が出ていました。
（肝心の質問が出せずスミマセン。Goは少しだけという方が多かったです。）

こちらはアットホームな感じで、参加者からは「楽しめました」との感想を頂けました！

Problem
-------

発表者（私）が発表するまでに、もたついてしまった。
（リハをしていたにも関わらず...ス

[2019-02-13 12:06] qt-luigi commented on #9
あ、ちゃんと太字になって線も引かれた。

[2019-02-13 14:46] keitakawamoto commented on #7
RubyKaigi2019のステッカー作りを担当しているのですが、

- https://www.stickermule.com/jp/products/die-cut-stickers

ステッカーミュールでやります。Fukuoka.goもここで生産するのはどうでしょうか（仕切り直し後）

[2019-02-13 14:47] keitakawamoto commented on #7
俺のブログのロゴも刷っちゃお〜〜〜〜

[2019-02-18 02:29] linyows opened #24 "サイトを完成させる"
#13 から引き続き やってる

- [x] Responsive
- [x] NavBar対応
- [x] Header Design
- [x] Favicon、App Icons
    - [x] 仮で作ったもの設置済み
    - [x] 正式Icon作成
- [x] パフォーマンス向上
    - [x] PWA対応
    - [x] SSRをやめる
    - [x] GCPへ引越し（StaticIP -> LB(443, 80) -> storage）
    - [x] img圧縮まわり
    - [x] Cloud CDNを有効にする
- [x] i18n対応
    - [x] nuxt-i18n使う
    - [x] Translate to english
- [ ] 各コンテンツのimg差し込み
- [x] Background Design: Mini

[2019-02-21 07:35] linyows commented on #16
スポンサーセッションは8枠なので、30万円相当で必要なものをグループ分けして、8企業を募る。スポンサーセッションがつまんなくても困るので、Goにそれなりに関連している企業限定となる。

[2019-02-21 07:42] linyows commented on #16
こんなもんかなあ

1. アルコール
1. コーヒー含むソフトドリンク
1. 軽食1
1. 軽食2
1. T-Shirts
1. ステッカー&パンフレット
1. 機材&ビデオ&写真
1. スタッフ打ち上げ

[2019-02-21 07:51] linyows commented on #16
別枠でセッションなしのScholarshipsスポンサー

1. 学生の旅費と宿泊費

協力企業として

1. 前日にオフィス解放

[2019-02-21 11:55] monochromegane commented on #16
fmfm! `6. ステッカー&パンフレット` とかは必要かなあなど思いながら，例えば，どれかを分割して，30万はでかいなあと思っているところ向けに10~15万のプランを作るとどうでしょう（ゴールド，シルバースポンサー的な）

[2019-02-21 13:26] linyows commented on #16
確かに間口を広げるのは必要ですね！

[2019-02-22 08:32] linyows commented on #20
受付と飲食と司会のチームに分かれて、各調整して交代する。手が空いてれば適当に登壇聞いたりするイメージ。

- [ ] 受付/会場チーム 4名
- [ ] 司会/会場チーム 4名
- [ ] 飲食管理チーム 4名
- [ ] 設営/撤収 全員
- [ ] SNS実況チーム 2名

@linyows と @monochromegane のどちらかは必ず手を空いた状態にしておく

[2019-02-22 08:34] linyows commented on #20
当然スタッフはアルコール飲めない（打ち上げでヨロ）

[2019-02-22 08:35] linyows commented on #20
成年バッジ、未成年バッジが必要そう

[2019-02-22 08:39] monochromegane commented on #20
Twitterの実況スタッフとか考えてみたんですけど，サクラっぽいかなあ〜

[2019-02-22 08:40] monochromegane commented on #20
人選は必要そうだけど...

[2019-02-22 08:40] linyows opened #25 "会場設営にひつようなもの"
- プロジェクターとスクリーン 2つ
- アンプとスピーカ（BGMもならしておきたい）
- ワイヤレスマイク4つ（司会と登壇）
- 登壇者の後ろにのぼりとか撮影用に欲しい（GoConとスポンサーの）
    - メディアに連絡すると記事書いてくれるかな
- 入り口の看板的な（雰囲気出し）
- ビールサーバ
- ソフトドリンクサーバ（冷蔵庫？）
- 参加者の識別IDプレートみたいなの（これに登壇者か未成年かどうかを追加）

[2019-02-22 08:42] monochromegane commented on #25
細かいですが，ワイヤレスマイク，一日フルだと充電持たない気がするので，予備があっても良さそうだと思いました！（もしくは充電器）

[2019-02-22 08:43] linyows opened #26 "スカラーシップについて"
以下の要件で旅費と宿泊費をスポンサーから捻出したい

- 参加に飛行機や新幹線が必要（遠方）
- イベント当日に学生（博士、修士、学部、学年不問、高専生、高校生歓迎）
- 将来ソフトウェアエンジニアになるつもりがある（どう確認するんだ）
- オフィス見学する
- 参加後にブログを書く

3-5万円/人ぐらいかなあー 人数は予算による

[2019-02-22 08:43] linyows commented on #25
大事！

[2019-02-22 08:48] linyows commented on #20
実況いいですね、参加できてない人が嬉しい気がする

[2019-02-22 08:49] monochromegane commented on #26
* どう確認するんだwww

[2019-02-22 08:52] monochromegane commented on #26
https://tech.mercari.com/entry/2018/03/19/164252
この辺が参考になりそう

[2019-02-25 02:29] linyows commented on #24
あとちょい

[2019-02-26 01:10] monochromegane commented on #24
:gopher:

[2019-02-27 01:24] linyows commented on #16
Google Slideで作り始めた（大谷さんが叩きをつくる）

[2019-02-28 05:52] monochromegane commented on #17
PaperCallを触ってみたが，募集に必要な項目の入力欄は変更できなさそうじゃった

[2019-02-28 05:53] linyows commented on #17
そうすねー

[2019-02-28 05:56] monochromegane commented on #17
ほえー
とりあえずLTは最初からは募集しないのでトークタイプからLTを外すのとデフォルトのtagにGopherConの時と同じ `go,golang` を追加しておきます

[2019-02-28 06:03] monochromegane commented on #17
あとは イベント説明とCfP説明かな
https://www.papercall.io/gophercon-2019 が参考になるが，完全にパクるのもあれだな...
イベントページの英語化が済んだら持ってこようかな

[2019-02-28 06:13] linyows commented on #24
英語翻訳作業。<i18n>タグの中でyaml形式で翻訳を書く。例: https://github.com/fukuokago/fukuoka.gocon.jp/blob/master/components/About.vue

- [x] [About](https://github.com/fukuokago/fukuoka.gocon.jp/tree/master/components/About.vue) もう少し情報追加する
- [x] [CallForPapers](https://github.com/fukuokago/fukuoka.gocon.jp/tree/master/components/CallForPapers.vue) まだ募集要項できてない
- [x] [CodeOfConduct](https://github.com/fukuokago/fukuoka.

[2019-02-28 06:15] linyows commented on #24
a

[2019-02-28 06:17] monochromegane commented on #17
CfP説明にスケジュールとトークタイプを追加．

[code]

[2019-02-28 06:18] linyows commented on #24
a

[2019-02-28 06:21] linyows commented on #24
a

[2019-03-02 15:44] yuji-otani commented on #16
スポンサープランの叩きを作成。
https://docs.google.com/spreadsheets/d/1elxTSIpHQGHLXTxyXnkSbvD6_QXorpoySeXA2KQHo7k/edit#gid=673467895

[2019-03-05 06:43] linyows commented on #16
物品提供自体に露出ができるもの

- エコバッグ
- ステッカー
- バックパネル
- 水
- T-Shirts

露出がないもの

- ビールサーバ
- コーヒー
- 軽食
- 打ち上げ

[2019-03-05 06:48] linyows commented on #16
打ち上げは金銭をもらわないと厳しいな

[2019-03-05 06:50] linyows commented on #16
露出がないものはスケジュールにスポンサー紹介を入れる

[2019-03-05 06:50] monochromegane commented on #16
東京GoConは懇親会スポンサーとしてオードブルとビールを準備してもらって，確か，その懇親会でのスポンサートークみたいな感じでやってましたね．
今回は必ず2trackなんで全員が見てくれるという意味だとそこを狙ってやってくれる人はいそう．

懇親会どこでやるのかにもよる（会場代）

[2019-03-05 06:50] monochromegane commented on #16
ちょっとわからなくなってるんですが，露出とスポンサートーク枠が別ってなってきました？

[2019-03-05 06:53] linyows commented on #16
もちろん、セッションは露出ですが、提供する物品に平等感を考えていました

[2019-03-05 07:05] monochromegane commented on #16
なるほど...確かにそれは必要だと思えます．
スポンサーの特典は基本はスポンサーセッションへの登壇権利として平等にして，かかるコストだけで判断してもらった方がわかりやすそうだと思えました．（基本はスポンサーの名前は入れない）
スポンサー名称を入れたい奴はオプションでお金とか？

[2019-03-06 01:25] monochromegane opened #27 "ランチマップ作る"
県外組が福岡良いねと言ってもらえるように美味しいお店を紹介するランチマップを作る

- [ ] Google Map上にランチマップを作る
- [ ] fukuoka.gocon.jp で参照できる

[2019-03-12 02:22] monochromegane commented on #14
スタカフェ申し込み完了
https://gist.github.com/monochromegane/0e18c259202d0533494e11bbed369198

[2019-03-12 02:22] monochromegane commented on #14
とのことなので告知用写真を決めて送付が残作業

[2019-03-12 02:35] monochromegane commented on #17
CFPページの更新が済んだのでReady to publish

- https://www.papercall.io/gocon-jp-2019-fukuoka
- https://www.papercall.io/cfps/1911/submissions/new

気になるところないかみなさんちらっと見てもらえると〜
（場所についてはまだ確定情報出せないらしく（何でやねん！）fukuoka.gocon.jpへのリンクを見てもらう感じです）

[2019-03-12 03:35] linyows commented on #17
あざます！全体的に良さそうです！

~~ElevPitchとdescとnoteっていろいろあってわからんってなると困るから、サイトに日本語で説明入れておくかなーって思ったのと~~ 済 場所はいつ頃に公開できるってあるといいかなと思いました。

[2019-03-12 05:37] linyows commented on #14
あざます〜 告知用写真は twitter imageはどうでしょう https://fukuoka.gocon.jp/icons/ogimage.png

[2019-03-12 05:39] linyows commented on #24
ほぼできてるので一旦仕切り直す

[2019-03-12 05:39] #24 closed, assigned to nobody

[2019-03-12 05:39] linyows opened #28 "サイト作成の残タスク"
#24 から引き続き

[2019-03-12 06:38] monochromegane commented on #17
場所の公開時期はまだわからないので一旦保留

[2019-03-12 06:39] monochromegane commented on #17
打ち合わせでアーリーフィードバックについて触れておいた方が良いとのことだったので以下をCFP descriptionに追加

[code]

[2019-03-16 07:23] linyows commented on #17
告知したので閉じる

[2019-03-16 07:23] #17 closed, assigned to nobody

[2019-03-16 14:35] seike460 commented on #27
考慮点をまとめる

- [ ] 土日なので定休日や特別休み
- [ ] 広さ
- [ ] 夏で有る
- [ ] 福岡らしさ
- [ ] 開催場所付近
- [ ] 安くて、きれいで、うまい

[2019-03-16 14:41] linyows commented on #27
おお、あざます！！！沢山考慮するのムズイので、うまい、開いてる、近いの3点で良さそうです！あとは、混み具合を報告出来ればいいのかなあ。いいやり方を考え中。

[2019-03-20 02:01] linyows commented on #27
https://github.com/fukuokago/fukuoka.gocon.jp/issues/14 募集地

[2019-04-04 01:13] monochromegane commented on #14
ここで音響系の情報やら詰めますか．承認されてないのかよ〜という気持ちではあるがまあここは儀式的なやつなのかな...

@linyows 候補日決めましょう

[code]

[2019-04-04 01:24] monochromegane commented on #14
[code]

[2019-04-04 01:27] linyows commented on #14
気なること

- 音響スペック
- モニタあるなし
- プロジェクターアスペクト比と入力端子
- wi-fiスペック

[2019-04-04 01:28] monochromegane commented on #14
申し込み時に書いたメモ

[2019-04-04 01:30] monochromegane commented on #14
FGNのイベントスペースについてはMr.Kより日程と会場は抑えたとのことなので多分大丈夫（こんなのばっかり）

[2019-04-04 02:09] linyows commented on #14
ガハハ

[2019-04-10 06:06] monochromegane commented on #14
イベント面談完了

[code]

[2019-04-20 05:02] monochromegane commented on #14
承認出ました〜
また，別途穴沢さんからもGoCon側での告知進めてOKいただけたので，やっと場所が書けますね！！

[code]

[2019-05-14 07:02] linyows commented on #26
[code]

[2019-05-14 07:14] #14 closed, assigned to linyows, monochromegane

[2019-05-14 07:15] linyows commented on #22
イベントの延長で懇親会を1時間取ることが決まっているのでclose

[2019-05-14 07:15] #22 closed, assigned to nobody

[2019-05-14 07:18] linyows commented on #16
めでたいことに、8つの企業にスポンサーしてもらうことになりました https://fukuoka.gocon.jp/ja/sponsors/

[2019-05-14 07:18] #16 closed, assigned to linyows

[2019-05-14 07:18] #28 closed, assigned to nobody

[2019-05-14 07:19] #27 closed, assigned to seike460

[2019-05-14 07:23] linyows commented on #19
枠としてはこんな感じかな

- 早期申込枠 15名
- 一般申込抽選枠 50名
- 遠方枠 5名
- プロポーザル枠 15名
- 女性／ジェンダーマイノリティ枠 15名
- スタッフ枠（前日16時からと当日）打ち上げ参加できます 3名

[2019-05-14 07:29] linyows commented on #23
お店決めないとなあー、人数は登壇者28とスタッフ9（募集3人含め）で40人ぐらい。

[2019-05-24 03:49] linyows commented on #23
`100,000 / 40 = 2,500` おっっっっっ

[2019-05-25 02:53] monochromegane commented on #18
5/14に採択通知開始！
5/23にスケジュール公開！！
お疲れ様でしたん！

[2019-05-25 02:53] #18 closed, assigned to nobody

[2019-05-31 02:22] linyows opened #29 "プレスリリース"
参考 https://prtimes.jp/main/html/rd/p/000000002.000042595.html

[2019-06-20 06:38] #19 closed, assigned to nobody

[2019-06-20 06:38] linyows commented on #23
決まったのでclose

[2019-06-20 06:38] #23 closed, assigned to nobody

[2019-06-20 06:39] #26 closed, assigned to nobody

[2019-07-02 07:13] linyows commented on #29
https://fukuoka.gocon.jp/ja/blog/press-release/

https://www.value-press.com/
http://pressrelease-zero.jp/
https://www.prerele.com/releases/detail/25732

この３サイトに送信済み

[2019-07-02 07:13] #29 closed, assigned to nobody

[2019-07-22 08:33] linyows commented on #20
notionに段取り書いて共有

[2019-07-22 08:33] #20 closed, assigned to nobody

[2019-07-22 08:34] linyows commented on #21
Event Reportほぼできた

[2019-07-22 08:34] #21 closed, assigned to nobody

[2019-07-22 08:34] linyows commented on #25
これ系、振り返りでまとめる

[2019-07-22 08:34] #25 closed, assigned to nobody